{% extends 'index.html' %}
{% block title %}购物车{% endblock %}
{% block body %}
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>购物车</h1>
            <div class="shopping-cart-page">
              <div class="shopping-cart-data clearfix">
                <div class="table-wrapper-responsive">
                <table summary="Shopping cart">
                  <tr>
                    <th class="shopping-cart-description">名称</th>
                    <th class="shopping-cart-quantity">数量</th>
                    <th class="shopping-cart-price">价格</th>
                    <th class="shopping-cart-total">小计</th>
                    <th class="del-goods-col">操作</th>
                  </tr>
                  {% for item in cart.items %}
                  <tr>
                    <td class="shopping-cart-description">
                      <h3><a class="good" href="/item/{{item.good.id}}" gid={{item.good.id}}>{{item.good.name}}</a></h3>
                    </td>
                    <td class="shopping-cart-quantity">
                      <div class="product-quantity" gid={{item.good.id}}>
                          <input id="cnum"  type="text" value="{{item.count}}"  class="form-control input-sm ">
                      </div>
                    </td>
                    <td class="shopping-cart-price">
                      <span>￥</span><strong>{{item.price}}</strong>
                    </td>
                    <td class="shopping-cart-total">
                      <span>￥</span><strong>{% widthratio item.count 1 item.price %}</strong>
                    </td>
                    <td class="del-goods-col">
                      <a id="delgood"  gid={{item.good.id}} href="javascript:">删除</a>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
                </div>

                <div class="shopping-total">
                  <ul>
                  <li class="shopping-total-price">
                      <a id="delcart" href="javascript:">清空购物车</a>
                    </li>
                    <li class="shopping-total-price">
                      <em>总计</em>
                      <span>￥</span><strong class="price">{{cart.total_price}}</strong>
                    </li>
                  </ul>
                </div>
              </div>
              <a href="/"><input class="btn btn-default backgo" type="submit" value="继续购物" /></a>
              <a href="/orderid/"><input type='submit' class="btn btn-primary jiesuan"  value="结算"/></a>
            </div>
          </div>
          <!--END CONTENT -->
{% endblock %}
{% block js %}
<script>
	$(document).ready(function(){
		$('[id=delgood]').on("click",function(){
					dict_data={}
					var gid=$(this).attr('gid')
					dict_data['gid']=gid
			$.get('/delgood/',dict_data,function(data){	 
				if (data==("OK")){
					location.reload()
						} 
				})
		})
		
		$('#delcart').click(function(){
					data={}
					var a='delcart'
					data['dc']=a
			$.get('/cart/',data,function(data){		
				if (data==("OK")){
					location.reload()
					}
					})	
			})
		$('[id=cnum]').on('change', function() {
    		 var gid=$(this).parent().attr('gid');
    		 var num=$(this).val()
    		 alert(gid)
    		 alert(num)
    		 var xin=$(this).parent().parent().siblings('.shopping-cart-price').children('strong').text()
    		 var xiaoji=$(this).parent().parent().siblings('.shopping-cart-total').children('strong').html(xin*num)
    		 var total=$('.price').text()
    		 alert(total)
    		 totals=total+xin*num
    		 newtotal=$('.price').html(totals)
			});
		
		$('.jiesuan').click(function(){
			$.get('/orderid/',1,function(){})
			})
	})
</script>
{% endblock %}