{% extends 'houtai.html' %}
{% block title %}商品信息{% endblock %}
{% block rightbody %}
<div class="panel panel-default">
	<h2>商品添加</h2>
	<form action="/goodlist/" method="post">{% csrf_token %}
	<table  class="table">
		<tr>
			<td>所属分类</td>
			<td>商品名称</td>
			<td>商品价格</td>
			<td>销售价格</td>
				
		</tr>
		<tr>
			<td><select name="cate">{% for c in cate %}<option value={{c.id}}>{{c.name}}</option>{% endfor %}</select></td>
			<td><input type="text" name='name' /></td>
			<td><input type="text" name='price' /></td>
			<td><input type="text" name='sprice' /></td>
			
						
		</tr>
		<tr>
			
			<td>库存数量</td>
			<td>商品图片</td>
			<td>状态</td>
			<td>产地</td>
		</tr>
		<tr>
			
			<td><input type="text" name='amount' /></td>
			<td><input type="file" name='pic' /></td>
			<td><input type="text" name='status' /></td>
			<td><input type="text" name='paddr' /></td>
			
		</tr>
		<tr>
			<td colspan=3>描述</td>
			<td>操作</td>
		</tr>
		<tr>
			<td colspan=3><textarea name='desc' rows=3 cols=90 /></textarea></td>
			<td><input type="submit" value="添加商品" /></td>
		</tr>
	</table>
	</form>
	<h2>商品列表</h2>
	<p>按类别筛选：<select name="cate">{% for c in cate %}<option value={{c.id}}>{{c.name}}</option>{% endfor %}</select></p>
	<table  class="table">
		<tr>
			<td>商品编号</td>
			<td>所属分类</td>
			<td>商品名称</td>
			<td>商品价格</td>
			<td>销售价格</td>
			<td>描述</td>
			<td>库存数量</td>
			<td>商品图片</td>
			<td>状态</td>
			<td>添加时间</td>
			<td>产地</td>
			<td>操作</td>			
		</tr>
		{% for g in goods %}
		<tr class="shop">
			<td>{{g.id}}</td>
			<td good="cate">{{g.category}}</td>
			<td good="name">{{g.name}}</td>
			<td good="price">{{g.price}}</td>
			<td good="sale_price">{{g.sale_price}}</td>
			<td good="descriptiont">{{g.descriptiont}}</td>
			<td good="amount">{{g.amount}}</td>
			<td>{{g.pic}}</td>
			<td good="status">{{g.status}}</td>
			<td>{{g.addtime}}</td>
			<td good="paddr">{{g.paddr}}</td>
			<td><a href="javascript:" class="xiu">修改</a><a href="javascript:" class="cun">保存</a></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
{% block js %}
<script>
 	$(document).ready(function () {
			$('.xiu').click(function(){
                $('.shop td').each(function(){
                    if (this.childElementCount==0) {
                        var tdval=$(this).html();
                        var edit="<input type='text' value =" + tdval + ">";
                        $(this).html(edit);

                    }
                })

            })
            $('.cun').click(function(){
                data_dic={'host_id':'{{ hostdata.id }}'};
                $('.table tr td input').each(function(){
                    var key=$(this).parent().attr('hostname')
                    var inputval=this.value
                    data_dic[key]=inputval
                })
                $.get('/good/',data_dic,function(returndata){
                    console.log(returndata)
                    if (returndata==("successful")){
                        $('.table tr td input').each(function(){
                            $(this).parent().html(this.value)
                        })
                    }
                })
            })
      })
</script>
{% endblock %}